# config-repo/application-docker.yml
eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/

spring:
  datasource:
    url: jdbc:mysql://mysql:3306/userdb?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root

  kafka:
    bootstrap-servers: kafka:9092

  # ----------------------------
  # Logging
  # ----------------------------
logging:
  level:
    com.example: DEBUG
    org.springframework: INFO
    reactor.netty: INFO
